/********************************************************** Start Global Style **********************************************************/
@font-face {
  font-family: NerkoOne;
  src: url(./fonts/NerkoOne-Regular.ttf);
}

@font-face {
  font-family: Comfortaa;
  src: url(./fonts/Comfortaa-VariableFont_wght.ttf);
  font-weight: 300 700;
}
body {
  background-color: #272b30;
  font-family: Comfortaa;
}
/**********************************************************  End Global Style  **********************************************************/

/********************************************************** Start Header Style  **********************************************************/
.bg-image img {
  width: 100%;
  max-height: 30vh;
  object-fit: cover;
}
/**********************************************************  End Header Style  **********************************************************/

/********************************************************** Star Navbar Style  **********************************************************/
nav {
  background-color: #3a497b;
}
nav a img {
  max-width: 40px;
}
.my-navbar {
  background-color: rgb(58, 73, 123) !important;
  margin-inline: auto;
  margin-top: -30px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.my-navbar .navbar-nav .nav-item a.nav-link.active {
  color: #0099cc;
}
.my-navbar .navbar-nav .nav-item a.nav-link {
  font-size: 0.75rem;
  color: #fff;
}
h1 {
  font-family: "NerkoOne", cursive;
  font-size: 1.25rem;
}
/**********************************************************  End Navbar Style  **********************************************************/

/********************************************************** Start Card Style  **********************************************************/
.my-badge-bg {
  background-color: #32383e;
  font-size: 0.625rem;
  font-weight: 700;
}
.col .card {
  background-color: #272b30;
  cursor: pointer;
  border: .0625rem solid rgba(0, 0, 0, 0.175);
  transition: all 0.5s ease-in;
}
.col .card img {
  filter: grayscale(0.7);
}
.col .card .card-body span {
  filter: grayscale(0.7);
}
.col:hover .card {
  transform: scale(1.05);
}
.col:hover .card .card-body span,
.col:hover .card img {
  filter: grayscale(0);
}
.card-footer {
  background-color: #272b2f;
}
/**********************************************************  End Card Style  **********************************************************/

/********************************************************** Start Details Section Style  **********************************************************/
#cardDetails {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #27282b;
}
/**********************************************************  End Details Section Style  **********************************************************/

/********************************************************** Start loaders spinners  **********************************************************/
.loading {
  position: fixed;
  z-index: 9999;
  inset: 0;
  background-color: #272b30e3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #ff3d00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/**********************************************************  End loaders spinners   **********************************************************/
